
    @each $group in $list_1 {
        body.group-#{$group} {
            .sidebar-section-wrapper.sidebar-section[data-section-name="#{$menu_section_1}"] {
                display: block;
            }
        }
    }

            <div class="featured-banner-link">
              {{#each bannerLinks as |bl|}}
                <div>
                  <a href="{{bl.url}}">
                    <h3>
                      {{d-icon bl.icon}}
                      {{bl.text}}
                    </h3>
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/unless}}
{{/unless}}
